.sidebar {
  height: 90vh;
  padding: 2rem 3rem;
}

.dashboard {
  display: grid;
  grid-template-columns: 1fr 80%;
}

.side_header {
  color: #3b82f6;
  font-size: 1.5rem;
  margin: 2rem 0;
}

.link_container {
  font-size: 1.5rem;

  @include spaceBetween;

  margin: 1.5rem 2rem;

  &:hover {
    background-color: var(--color-grey-light-2);
    border-radius: 10%;
    font-size: 1.6rem;
  }
}

.link_left {
  min-width: 70%;
  display: flex;
  align-items: center;
}

.link__icon {
  color: var(--color-grey-dark-2);
  font-size: 2rem;
}

.link__didebar {
  text-decoration: none;
  margin-left: 1rem;
  color: var(--color-grey-dark-1);
  font-weight: bold;
}

.right__dashboard {
  background-color: var(--color-grey-light-2);
  margin-top: 8px;
}

.active {
  color: #3b82f6;
}
