.mid_dashboard {
  font-size: 1.5rem;
  padding: 2%;
}

.board {
  @include spaceBetween;

  align-items: center;
}

.p-message-detail {
  font-size: 1.5rem;
}

.top_header {
  display: flex;
  align-items: center;
}

.top__title {
  padding-left: 2px;
}

.board__icons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
}

.board__icon {
  color: #fff;
}

#country {
  padding: 0.5rem;
}

.p-progressbar-label {
  color: transparent !important;
}

.icon_container {
  background-color: var(--color-grey-dark-1);
  font-size: 1.5rem;
  min-width: 4rem;
  border-radius: 4%;
  display: flex;
  justify-content: center;
  height: 3rem;
  align-items: center;
  margin-left: 1rem;
}

.card_one {
  background-color: #fff;

  @include spaceBetween;

  font-size: 1.5rem;
  width: 23%;
  max-width: 30%;
  padding: 1rem;
}

.left__icon {
  color: green;
  font-size: 3rem;
  font-weight: bold;
}

.numbers {
  display: flex;
  align-items: center;
}

.value {
  font-weight: 700;
  font-size: 3rem;
  padding: 0.2rem 0.5rem;
}

.target__value {
  font-weight: 700;
  font-size: 2rem;
  margin-right: 0.5rem;
}

.right__icon {
  font-size: 2rem;
}

.card__list {
  @include spaceBetween;
}

.circular {
  max-width: 25%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.chart__container {
  display: grid;
  grid-template-columns: 1fr 40%;
  padding: 3rem 0;
}

.chart__card {
  height: 15rem !important;
}

.p-chart canvas {
  @include fixCart;
}

.CircularProgressbar {
  max-height: 20rem;
  max-width: 20rem !important;
}

.income {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2%;
}

.track {
  @include spaceBetween;

  align-items: flex-end;
}

.target__header {
  @include spaceBetween;

  padding: 2rem 0;
  align-items: center;
}

.target__card__header {
  display: flex;
  align-items: center;
}

.target__card {
  background-color: #fff;
  width: 23%;
  font-size: 1.5rem;
  max-width: 30%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.p-progressbar-determinate {
  width: 14rem !important;
  height: 10px !important;
}

.target__list {
  @include spaceBetween;
}

.p-progressbar .p-progressbar-value {
  background-color: #3b82f6 !important;
}

.target__Link {
  color: #3b82f6;
  text-decoration: none;
}

.location {
  display: flex;
  flex-direction: column;
}

.bar_skeleton {
  height: 100%;
  min-height: 22rem;
}
