
@media only screen and (max-width: 1115px) {
  .CircularProgressbar {
    max-height: 100% !important;
    max-width: 100% !important;
  }

  #CircularProgressbarWithChildren__children {
    background-color: silver;
  }

  #CircularProgressbarWithChildren__children div {
    max-height: 70% !important;
    max-width: 70% !important;
  }

  .card__list,
  .track,
  .target__list {
    flex-wrap: wrap !important;
  }

  .card_one,
  .target__card {
    min-width: 100% !important;
    margin-bottom: 2rem;
    max-height: 10rem;
  }

  .chart__container {
    grid-template-columns: 1fr;
    justify-content: space-between;
    position: relative;
    padding: 1rem 0;
  }

  .p-chart canvas {
    width: 100%;
  }

  .trafic {
    margin-bottom: 12rem;
  }

  .target__card {
    margin: 2rem 0;
  }
}

@media only screen and (max-width: 660px) {
  .left__sidebar {
    display: none;
  }

  .avatar__details {
    display: none;
  }

  .dashboar {
    display: grid;
    justify-content: center;
  }

  .right__dashboard {
    width: 100vw;
  }

  .top_paragraph {
    display: none;
  }
}
