@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.nav_container {
  @include spaceBetween;

  z-index: 100;
  font-size: 1.5rem;
  padding: 0 2rem;
  width: 100%;
  box-shadow: var(--boxshadow-nav);
}

.nav__left {
  font-family: 'Pacifico', cursive;

  @include spaceBetween;

  align-items: center;
  min-width: 20%;
  color: var(--color-grey-dark-1);
}

.nav__hamberger {
  font-size: 3.5rem;
  color: #3b82f6;
}

.nav__right {
  @include spaceBetween;
}

.nav__avatar {
  display: flex;
  align-items: center;
  color: var(--color-grey-dark-1);
}

.avatar__profile {
  width: 4rem;
  height: 4rem;
  padding: 0.3rem 0;
  border-radius: 50%;
}

.avatar__details {
  margin: 1rem 5rem 0.5rem 0.5rem;
}

.details_header {
  color: var(--color-grey-dark-1);
  font-weight: bold;
}

.sub__links {
  text-decoration: none;
  padding: 0.5rem 0;
  margin: 0.1rem 0;
  font-size: 1.5rem;
  color: var(--color-grey-dark-1);
  font-weight: bold;
}

.sub__list {
  list-style: none;
}

// drop down css
.dropdown {
  background-color: #f9f9f9;
  position: absolute;
  padding: 12px 16px;
  right: 0;
  z-index: 1;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  min-width: 20rem;
  font-size: 1.5rem;
}

.newNav {
  background-color: grey;
}

#force_bg {
  background-color: transparent;
  color: var(--color-grey-dark-1);
  font-size: 1.4rem;
  border: none;
  font-weight: bold;

  &:hover {
    color: #3b82f6;
  }
}
